# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Tailwind / Node
node_modules/
theme/static/css/dist/
npm-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Временные файлы
error.txt
*.tmp